body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(188, 186, 186)
}

div {
    background-color: #00000aca;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
    text-align: center;
    width: 80%;
    /* Ajuste a largura conforme necessário */
    max-width: 600px;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 310px;
}


button {
    background-color: dodgerblue;
    position: absolute;
    right: 43%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: deepskyblue;

}

/* Estilize o rótulo "Sexo" para movê-lo para a lateral */
label[for="Sexo"] {
    position: absolute;
    left: 28%;
    top: 48em;

}

/* Estilize o campo de seleção de sexo para ajustar o tamanho */
select#Sexo {
    position: absolute;
    outline: none;
    left: 34%;
    width: 38%;
    height: 42px
}